
{% extends 'base.html' %}


{% block content %} 
<hr>
<br><br>


<h1 style="text-align: center; color: #ffff00;">Profile Settings  |

    {% if user.profile.id %}
     <a style="color: #ff0066;" href="{% url 'profile' user.profile.id %}">Display Profile</a> | 
    {% else %}
    <a href="{% url 'create_profile' user.profile.id %}">Create Your Profile</a>
    {% endif %}
     <a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a></h1> 

{{user.profile.bio}}

<hr>
<br>

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            #{{ form.as_p }}
            {{ form.media }}
            <button class="btn btn-primary">Update</button>
        </form>
    </div>





{% endblock %}